:root {
  --color-background: #1B1A1B;
  --color-text: #FFFFFF;
  --color-platinum: #EADEED;
  --color-very-light-purple: #CD06FF;
  --color-light-purple: #840AA3;
  --color-purple: #6C0287;
  --color-dark-purple: #640AA3;
  --color-very-dark-purple: #440F51;
  --color-black: #1C1A1A;
}
