@import "__input/__input.css";
@import "__button/__button.css";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5.2rem;
}

@media (min-width: 64em) and (max-width: 99.9375em) {
  .form {
    margin-bottom: 3rem;
  }
}

@media (max-width: 63.9375em) {
  .form {
    margin-bottom: 6rem;
  }
}
