.benefits__about {
  display: flex;
  align-items: center;
  gap: 2.3rem;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.6rem;
  margin-bottom: 3.5rem;
}

.benefits__about::before {
  content: "";
  display: block;
  height: .2rem;
  width: 4.3rem;
  background-color: #383A4C;
}

.benefits__about::after {
  content: "";
  display: block;
  height: .2rem;
  width: 4.3rem;
  background-color: #383A4C;
}

@media (min-width: 64em) and (max-width: 99.9375em) {
  .benefits__about {
    font-size: 2rem;
    line-height: 2.3rem;
    gap: 2rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 48em) and (max-width: 63.9375em) {
  .benefits__about {
    font-size: 3.2rem;
    line-height: 3.8rem;
    gap: 4.4rem;
    margin-bottom: 5.2rem;
  }
}

@media (max-width: 47.9375em) {
  .benefits__about {
    font-size: 3.2rem;
    line-height: 3.8rem;
    gap: 5rem;
    margin-bottom: 5.7rem;
  }

  .benefits__about::before {
    content: "";
    display: block;
    height: .2rem;
    width: 4.3rem;
    background-color: #383A4C;
  }

  .benefits__about::after {
    content: "";
    display: block;
    height: .2rem;
    width: 4.3rem;
    background-color: #383A4C;
  }
}
