@import "__img/__img.css";
@import "__number/__number.css";

.phone {
  display: flex;
  flex-direction: column;
  width: 21rem;
}

@media (min-width: 64em) and (max-width: 99.9375em) {
  .phone {
    width: 19rem;
  }
}

@media (max-width: 63.9375em) {
  .phone {
    width: auto;
  }
}
