.feedback__policy {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  text-align: center;
}

.feedback__policy a {
  position: relative;
  color: #4A76A8;
}

.feedback__policy a::after {
  display: block;
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  left: 0;
  height: .1rem;
  background-color: #4A76A8;
  z-index: 4000;
}

@media (min-width: 64em) and (max-width: 99.9375em) {
  .feedback__policy {
    font-size: 1.7rem;
    line-height: 2rem;
  }
}

@media (max-width: 63.9375em) {
  .feedback__policy {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }
}
